#csepopup > span {
  background-color: '#ddd';
  display: 'block';
  margin-bottom: '10px';
}
#csepopup {
  p {
    font-size: 13px;
    p {
      margin-bottom: 10px;
    }
  }
  span.blue {
    color: #069;
  }
  span.img {
    background-color: #ddd;
    display: block;
    margin-bottom: 10px;
    img {
      max-height: 133px;
    }
  }
}
#cse-filter {
  h4 {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 0 !important;
    background-color: #005c96;
    color: #fff;
  }
  p {
    clear: both;
    padding: 2px;
    padding-left: 10px;
    line-height: 20px;
    span {
      float: left;
      font-size: 12px;
      font-family: OpenSansM;
    }
    input {
      float: right;
    }
  }
}
