#csepopup > span {
  display: 'block';
  margin-bottom: '10px';
  background-color: '#ddd';
}

#csepopup {
  border-bottom: 6px solid #005c96;

  p {
    padding: 0 10px 0 10px;
    font-size: 13px;

    p {
      margin-bottom: 10px;
    }

    a {
      text-decoration: underline;
    }
  }

  span.blue {
    color: #069;
  }

  span.img {
    display: block;
    margin-bottom: 10px;
    background-color: #ddd;

    img {
      max-height: 133px;
    }
  }
}

#cse-filter {
  h4 {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: #fff;
    clear: both;
    color: #005c96;
    cursor: pointer;
    font-size: 14px;
  }

  p {
    padding: 2px;
    padding-left: 10px;
    clear: both;
    line-height: 20px;

    span {
      float: left;
      font-family: OpenSansM, sans-serif;
      font-size: 12px;
    }

    input {
      float: right;
    }
  }

  div.title {
    width: 100%;
  }

  .ui.accordion > .title > .icon {
    line-height: 1rem;
  }

  button.reset {
    margin-top: 20px;
  }
}

.section-case-study-explorer #popup-overlay {
  padding: 0;
}
