.image-slide {
  position: relative;
  display: inline-block;

  .image-rights {
    position: absolute;
    z-index: 100;
    right: 0em;
    bottom: 0em;
    left: 0em;
    padding: 10px;
    // background: rgba(0, 0, 0, 0.5); /* optional: semi-transparent background */
    color: white; /* text color */
    font-size: 14px; /* adjust font size as needed */
    text-align: left; /* optional: center the text */
  }
}
