.spotlight-tabs {
  // this is the container div
}

.ui.menu.menu-tabs-spotlight-variant {
  // this is the menu
  flex-wrap: wrap;
  border: none;
  margin: 1em 0 !important;
  box-shadow: none;

  .ui.image.thumb {
    width: 190px;
    height: auto;
  }

  .item {
    padding: 0.5em;
    margin: 10px 0;
    border: 1px solid transparent !important;

    &:not(:last-child) {
      margin-right: 15px !important;
    }

    &:hover {
      border-radius: 4px;
      border: 1px solid #ddd !important;
    }

    &.active,
    &.active:hover {
      border: 1px solid #ddd !important;
      border-radius: 5px;
    }

    &:before {
      background: none;
    }
  }
}
