// Adaptation option view styles
div.adaptation-option-view {
  div.section {
    h5.section-title {
      font-size: 1em;
      font-style: italic;
    }

    margin-top: 2em;
  }
}

// Video view styles
div.video-view {
  video {
    margin-top: 1.5em;
  }

  div.external-video {
    margin-top: 1.5em;
  }
}

// General styles
h4.reference-title {
  padding-top: 1.5em;
  border-top: 1px solid #ddd;
  margin-top: 1.5em;
}

div.published-modified-info {
  margin-top: 2em;
  font-size: 0.75rem;
}

div.content-metadata {
  ul.related-case-studies {
    padding-left: 0px;
    list-style: none;

    li {
      margin-bottom: 0.5em;
    }
  }
}
