.section-search-the-database .block.call-to-action.align.center a {
  display: block;
}

body.searchlib-page .searchlib-block {
  .ui.secondary.pointing.content-section-tabs.menu {
    .active.item .tab-icon .count {
      border-color: @ccaGreenColor;
      background-color: @ccaGreenColor;
    }
  }
}

body.is-anonymous .searchlib-block .search-body-footer {
  button.download-btn {
    display: none;
  }
}

.searchlib-page .content-section-tabs.menu .item i.icon.small {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.dropdown-facet-modal
  .sui-multi-checkbox-facet__option-input-wrapper
  .checkmark,
.dropdown-facet .sui-multi-checkbox-facet__option-input-wrapper .checkmark,
.sidebar-content .sui-multi-checkbox-facet__option-input-wrapper .checkmark {
  top: 3px;
  width: 13px;
  height: 13px;
}

.dropdown-facet-modal
  .sui-multi-checkbox-facet__option-input-wrapper
  .sui-multi-checkbox-facet__input-text,
.dropdown-facet
  .sui-multi-checkbox-facet__option-input-wrapper
  .sui-multi-checkbox-facet__input-text,
.sidebar-content
  .sui-multi-checkbox-facet__option-input-wrapper
  .sui-multi-checkbox-facet__input-text {
  padding-left: 20px;
}

.dropdown-facet
  .sui-multi-checkbox-facet__option-input-wrapper
  .checkmark:after,
.sidebar-content
  .sui-multi-checkbox-facet__option-input-wrapper
  .checkmark:after,
.dropdown-facet-modal
  .sui-multi-checkbox-facet__option-input-wrapper
  .checkmark:after {
  left: 4px;
  width: 4px;
  height: 8px;
}

.active-filters .ui.card.term.active-term .card-header .clear-filters {
  top: -1px;
}
