// Case study view styles
.case-study-view {
  .case-studies-review-image-wrapper {
    position: relative;
    margin-right: 1.5em;
    float: left;

    p {
      font-size: 90%;
    }
  }
}

// C3S Indicator view styles
div.c3sindicator-view {
  iframe {
    border: none;
  }

  .ui.accordion {
    margin: 1.5em 0;
  }
}

// Geochars widget
div.geochars-field {
  div.checkbox {
    margin-right: 1em;

    label {
      padding-left: 1.5em;
    }
  }
}

.geolocation-field .ol-map {
  cursor: pointer;
}

.btn-right {
  margin: calc(2rem - 0.1em) 0em 1rem;
  float: right;
}

.published-info {
  margin: 2em 0;
  font-size: 0.8em;
}

hr {
  height: 1px;
  border: none;
  margin: 2em 0;
  background-color: #e6e7e8;
}

.ui.modal.slider-modal {
  .content {
    padding: 2em;
  }

  .slick-slider {
    padding: 1em 2em;
  }

  .slide-image-count {
    text-align: center;
  }

  .slick-arrow {
    width: 35px;
    height: 35px;

    &:before {
      font-size: 30px;
    }
  }

  .slick-prev {
    left: -13px;
  }

  .slick-next {
    right: -13px;
  }
}

.document-list-item {
  display: flex;
  align-items: flex-start;
  word-break: break-all;

  i.icon {
    position: relative;
    top: 4px;
    margin-right: 5px;
  }
}

.news-link {
  margin: 0em 0em 1em 0em;
}

.db-item-view {
  position: relative;

  &.case-study-view {
    div {
      img.db-logo {
        padding-left: 5px;
        float: right !important;
      }
    }
  }

  .privacy-protection-wrapper {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .col-left {
    position: relative;
  }

  .ui.divider {
    margin: 2em 0;
  }

  .case-study-gallery {
    cursor: pointer;

    .preview-image {
      width: 100%;
      height: 250px;
    }

    .gallery-title {
      padding: 2px 4px;
      background-color: #f2c94c;
      font-weight: bold;
      text-align: center;
    }
  }

  .bottom-text {
    margin-bottom: 2em;
  }

  .c3s-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .adaptation-details {
    margin: 2em 0;
  }

  .ui.segment {
    margin-bottom: 1.5em;
  }

  .section {
    .section-title {
      margin-top: 1em;
    }
  }

  .share-info {
    margin: 3.5em 0 !important;

    .ui.button {
      margin: 0 !important;
    }
  }

  .ui.button {
    margin: 1.5em 0 !important;
  }

  .content-box {
    margin: 0;

    h5 {
      color: @secondaryColor;
    }

    .content-box-inner {
      padding: 3.5em 0;
    }
  }

  .video-wrapper {
    margin-bottom: 2em;
  }

  .has-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }

  .db-logo {
    width: auto;
    max-height: 70px;
  }

  .col-right {
    .ui.segment {
      border: none;
      background-color: #f9f9f9;

      h5 {
        margin: 1em 0 0.5em 0;
        color: @secondaryColor;

        &:first-child {
          margin-top: 0;
        }
      }

      .related-case-studies {
        padding: 0;
        list-style-type: none;

        li {
          margin-bottom: 0.8em;
        }
      }
    }
  }
}

.column > .ui.segment {
  border: none;
  background-color: #f9f9f9;
}

.toast-container {
  .ui.segment.basic {
    padding: 0;
    margin: 0;
  }
}

.translation-toast {
  position: fixed;
  height: auto;
  bottom: -88px;
  -webkit-transition: bottom 350ms;
  -moz-transition: bottom 350ms;
  -o-transition: bottom 350ms;
  -ms-transition: bottom 350ms;
  transition: bottom 350ms;
  width: 100%;
  max-width: 1120px;
  user-select: none;
  z-index: 10;
  width: 100%;
  padding: 1em;
  font-size: 0.9rem;

  &.warning {
    background: #f3e2ab;
  }

  &.info {
    background: #aee2f2;
    z-index: 11;
    height: 88px;
  }

  .ui.basic.button {
    color: @secondaryColor !important;
    font-size: 0.9rem;
  }

  .close-button {
    i.icon {
      color: inherit !important;
      font-size: 20px !important;
    }
  }

  .ui.basic.button.basic {
    margin: 0 !important;
  }

  .ui.basic.button:focus,
  .ui.basic.button:hover {
    border: none !important ;
    background: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    color: @secondaryColor !important;
  }
}

.translation-toast.active {
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .ui.container.toast-container {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    .ui.segment.basic {
      .header {
        flex-direction: row;
        align-items: flex-start;
      }
    }

    h5 {
      font-size: 14px;
      margin-bottom: 0.3em;
    }

    .translation-toast,
    .ui.basic.button {
      font-size: 12px !important;
    }
  }
}

.cca-newsitem-view,
.cca-event-view {
  .content-text p {
    margin: 0em 0em 1em;
  }
}

.disclaimer-box {
  margin: 2em 0;
  background-color: #fbfbfb;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}

.broken-links-table {
  td {
    max-width: 200px;
  }

  a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .select-none {
    user-select: none;
  }
}
