@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.link-active {
  .circle,
  .circle:hover {
    fill: @green-1;
  }
}

.circle:hover {
  fill: @green-1;
}

.rast-block .item.active a{
  font-weight:bold;
}