@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.rast-block {
  a rect.circle:hover {
    fill: #183 !important;
  }

  a rect.circle {
    pointer-events: all !important;
  }

  // svg,
  // svg * {
  //   pointer-events: none;
  // }

  .link-active {
    .circle,
    .circle:hover {
      filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 1));
    }
  }

  .circle:hover {
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 1));
  }

  .item.active a {
    font-weight: bold;
  }
}

.rast-map-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
