// Organisation Cards Listing
div.organisationCards {
  a.org-name {
    font-size: 0.7em;
    text-transform: uppercase;
  }

  a.org-site {
    font-size: 0.7em;
  }
}

// Indicators Cards Listing
div.indicatorCards {
  a {
    color: #006bb8 !important;
  }

  h4 {
    font-weight: 400;
  }

  span.year {
    margin-right: 1em;
  }

  .simple-listing-item {
    margin-bottom: 1em !important;
  }
}
