@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.signatories-profile {
  .items-wrapper {
    margin: 2em 0;
  }

  .column > .ui.segment {
    background-color: #fff !important;
  }

  .section-wrapper-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    .date {
      position: relative;
      top: 5px;
    }
  }

  .section-wrapper {
    margin: 1em 0;

    .goal-title-label {
      text-transform: uppercase;
      background-color: #dbe7f4;
      padding: 0.3em 0.5em;
      margin: 1em 0;
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
    }

    .ui.accordion {
      margin-top: 1em;
    }

    .small-label {
      font-size: 1em;
    }
  }

  strong.date {
    margin-right: 0.5em;
  }

  .items-group {
    display: block !important;
    column-count: 2;

    .item {
      padding: 0.5em 0 !important;
      break-inside: avoid-column;

      .content {
        padding-left: 0.5rem !important;
      }
    }
  }
}
